body{
    font-size: 24px;
    font-family: 'Sedgwick Ave', cursive;
}
label {
    font-size: 24px;
}

#sub1Btn{
    background-color: #90caf9;
    
}
#home1img{
    height: 500px;
}
#home2img{
    height: 900px;
}
#survey1img{
    height:700px;
}

#survey2img{
    height: 900px;
}
#section1{
    color: white;
} 
#links{
    font-size: small;
    color: darkslategrey;
}